<p>Dear Admin,</p>

<p>Please note that you approved the restaurant <%= @restaurant.name %>, which will be located in <%= @restaurant.region.name %>.</p>

<p>-The OrderUp Team</p>

<br>

<%= image_tag attachments['kp_up.jpg'].url -%>
