<p>Dear Admin,</p>
<br/>
<p>Please note that <%= @restaurant_admin.email %> has requested to create restaurant: <%= @restaurant.name %>.</p>
<br/>
<p>-The OrderUp Team</p>
<br/>
<%= image_tag attachments['kp_down.jpg'].url -%>
