<p>Dear <%= @restaurant_admin.email %>,</p>

<p>We have received your request to create the restaurant <%= @restaurant.name %>.</p>

<p>You will be notified when a platform admin has approved or rejected your request. Thanks for considering OrderUp!</p>

<p>-The OrderUp Team</p>
<br>
<%= image_tag attachments['kp_up.jpg'].url -%>
