<p>Dear <%= @restaurant_admin.email %>,</p>

<p>We are sorry to inform you that your restaurant <%= @restaurant.name %> has been rejected. Our platform is quite exclusive, but we are confident that Shopify will be interested in serving you.</p>

<p>-The OrderUp Team</p>

<br>

<%= image_tag attachments['kp_down.jpg'].url -%>
