<!DOCTYPE html>
<head>
    <title>Billys BBQ Shack</title>
    <%= stylesheet_link_tag "front-style"%>
</head>
    <body>
        <div id="main">
            <center><%= image_tag("background5.png") %></center>
            <div id="footer">
                <div id="navbar"> 
                    <ul>  
                        <li><h4><%= link_to "ENTER", categories_path %></h4></li> 
                        <li><h4><a href="http://www.veggiedate.org/">GET THE FORK OUT</a></h4></li>
                    </ul> 
                </div> 
            </div>
        </div>
    </body>
</html>
