<div class="container">
  <div id="wrapper">

    <%= render partial: "layouts/restaurant_admin_navbar" %>

    <div id="page-wrapper">

      <div class="row">
        <div class="col-lg-12">
          <h1>Dashboard <small>Statistics Overview</small></h1>
          <ol class="breadcrumb">
            <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
          </ol>
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span>Hey there, <b><%= current_user.name %></b> check out what's been going on since you were last here.</span>

          </div>
        </div>
      </div><!-- /.row -->

    </div><!-- /#page-wrapper -->

  </div><!-- /#wrapper -->
</div>
