Your past orders

<ul>
  <% @completed_orders.each do |order| %>
  <li>
    <%= link_to "Order ##{order.id}", order_path(order) %><br/>
    Date: <%= order.updated_at.strftime('%m/%d/%Y') %>
  </li>

  <ul>
    <% order.order_items.each do |order_item| %>
    <li>
    <%= order_item.item.name %>
    </li>
    <% end %>
  </ul>
  <% end %>
</ul>
