<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Carousel Template for OrderUp</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">

  </head>
<!-- NAVBAR
================================================== -->
  <body>

  

  <%= render partial: "layouts/platform_navbar" %>



    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://static.parastorage.com/services/html-landing/hp/ny/images/1600/stage_1/pepole_studio/0.jpg" alt="Second slide" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Set up your restaurant website via OrderUp</h1>
              <p>Join thousands of other restaurants that are using our platform to create their website</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://static.parastorage.com/services/html-landing/hp/ny/images/1920/stage_1/pepole_studio/5.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Make online ordering seamless</h1>
              <p>Our platform showcases your menu and facilitates online transactions</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://s24.postimg.org/twyb2fs6d/123.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Free and open source</h1>
              <p>Why pay for Shopify when you can use our service for free? Since this project is open source, our code is transparent and we can easily incorporate suggestions on how to improve our platform.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->


  

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://s17.postimg.org/5uyuirhd7/Screen_Shot_2013_12_17_at_10_55_49_AM.png" alt="Generic placeholder image">
          <h2>Accept credit cards</h2>
          <p>Your secure shopping cart lets you accept VISA, MasterCard and AMEX credit cards - no payment gateway required.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://s29.postimg.org/rtwlquzj7/Screen_Shot_2013_12_17_at_10_55_55_AM.png" alt="Generic placeholder image">
          <h2>State of the art security</h2>
          <p>OrderUp is Level 1 PCI compliant and uses 128 bit SSL encryption to ensure credit card data is secure. Your data will be safe and secure.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://s28.postimg.org/hwmyjx6qh/Screen_Shot_2013_12_17_at_10_56_00_AM.png" alt="Generic placeholder image">
          <h2>24/7 support</h2>
          <p>Call, chat or email us any day and time of the week and we’ll help get you set up or bring your business to the next level.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">MAKE A RESTAURANT TODAY. <span class="text-muted">You don't need to have any technical experience.</span></h2>
          <p class="lead">

          Simply choose a stylish website design, easily customize your online store, add menu items, and you'll be ready to accept payments. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://s24.postimg.org/ntzkkvcdh/here.jpg" alt="iPad image">
        </div>
      </div>

      <hr class="featurette-divider">

      <center><h2 class="featurette-heading">SAMPLE WEBSITES ON OUR PLATFORM</h2></center>


      <div class="row featurette">

          <center><a href="http://shop.islandcreekoysters.com/"><img src="http://s9.postimg.org/pbyb108zz/Screen_Shot_2013_12_16_at_8_47_14_PM.png"></a></center>
          
      </div>

      <hr class="featurette-divider">

      <center><h2 class="featurette-heading">TESTIMONIALS</h2></center>

      <div class="row featurette">
          <center><img class="featurette-image img-responsive" src="http://s28.postimg.org/q8frqrwil/Screen_Shot_2013_12_16_at_8_57_43_PM.png" alt="Generic placeholder image"></center>
      </div>

      <hr class="featurette-divider">

      <center><h2 class="featurette-heading">FEATURED IN</h2></center>

      <div class="row featurette">
        
        
          <center><img class="featurette-image img-responsive" src="http://s15.postimg.org/qzp1s7hdn/Screen_Shot_2013_12_16_at_8_57_59_PM.png" alt="Generic placeholder image"></center>
        
      </div>

      <!-- <hr class="featurette-divider"> -->

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <!-- <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
      </footer>

    </div><!-- /.container -->
    <div class="footer" style="background-color:#dbdbdb;">
  
          <div class="container">

              <!-- Example row of columns -->
            <div class="row">
            <div class="col-lg-3">
                <h4>Contact Us</h4>
                <p>Feel free to drop us a line.  We love hearing from our customers.  We promise we don't bite.
                  <fieldset>

                  <!-- Form Name -->
                  <legend></legend>

                  <!-- Text input-->
                  <div class="control-group">
                    <label class="control-label" for="textinput">Email</label>
                    <div class="controls">
                      <input id="textinput" name="textinput" type="text" placeholder="" class="input-large" required="">
                      
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="control-group">
                    <label class="control-label" for="textinput">Subject</label>
                    <div class="controls">
                      <input id="textinput" name="textinput" type="text" placeholder="" class="input-large" required="">
                      
                    </div>
                  </div>

                  <!-- Textarea -->
                  <div class="control-group">
                    <label class="control-label" for="textarea">Message</label>
                    <div class="controls">                     
                      <textarea id="textarea" name="textarea" class="input-large"></textarea>
                    </div>
                  </div>

                  <!-- Button -->
                  <div class="control-group">
                    <label class="control-label" for=""></label>
                    <div class="controls">
                      <button id="" name="" class="btn btn-primary">send</button>
                    </div>
                  </div>

                  </fieldset>
                </form>
              </div>


              <div class="row">
              <div class="col-lg-3">
                <h4>Overview</h4>
                <ul>
                  <li><a href="/website/templates" title="Feature Tour">Feature Tour</a></li>
                  <li><a href="/tour/sell-online" title="Sell Online">Sell Online</a></li>
                  <li><a href="/tour/ecommerce-website" title="Online Store Hosting">Online Store</a></li>
                  <li><a href="/tour/website-design" title="Online Store Design">Store Design</a></li>
                  <li><a href="/tour/shopping-cart" title="Shopping Cart Software">Shopping Cart</a></li>
                  <li><a href="/tour/ecommerce-hosting" title="Ecommerce Hosting">Ecommerce Hosting</a></li>
                  <li><a href="/tour/ecommerce-marketing" title="Ecommerce Marketing Tools">Marketing &amp; SEO</a></li>
                  <li><a href="/tour/mobile-commerce" title="Mobile Commerce">Mobile Commerce</a></li>
                  <li><a href="/tour/ecommerce-plugins" title="Shopify App Store">App Store</a></li>
                  <li><a href="/tour/ecommerce-cms">Feature List</a></li>
                  <li><a href="/faq">FAQ</a></li>
                </ul>
              </div>
              
              <div class="row">
              <div class="col-lg-3">
                <h4>Resources</h4>
                <ul>
                  <li><a href="/about" rel="nofollow">About Us</a></li>
                  <li><a href="/careers" title="Order Up Jobs" rel="nofollow">Careers</a></li>
                  <li><a href="/press">Press</a></li>
                  <li><a href="/press/buzz" title="Order Up Reviews">Testimonials</a></li>
                  <li><a href="http://store.shopify.com" target="_blank" rel="nofollow">Store</a></li>
                  <li><a href="http://www.shopify.ca" title="Canadian Ecommerce Software">Canada</a></li>
                  <li><a href="http://www.shopify.co.uk" title="UK Ecommerce Software">United Kingdom</a></li>
                  <li><a href="http://www.shopify.com.au" title="Australia Ecommerce Software">Australia</a></li>
                  <li><a href="http://www.shopify.co.nz" title="New Zealand Ecommerce Software">New Zealand</a></li>
                </ul>
              </div>

              <div class="row">
              <div class="col-lg-3">
                <h4>Come Find Us</h4>
                <div class="row-fluid">
                    <div class="span8">
                      <iframe width="300" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=15+Greenpoint+Ave,+Brooklyn,+NY&amp;aq=0&amp;oq=15+greenpointe+ave+brook&amp;sll=39.764339,-104.855112&amp;sspn=0.325133,0.727844&amp;ie=UTF8&amp;hq=&amp;hnear=15+Greenpoint+Ave,+Brooklyn,+Kings,+New+York+11222&amp;t=m&amp;ll=40.729698,-73.960047&amp;spn=0.016261,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=15+Greenpoint+Ave,+Brooklyn,+NY&amp;aq=0&amp;oq=15+greenpointe+ave+brook&amp;sll=39.764339,-104.855112&amp;sspn=0.325133,0.727844&amp;ie=UTF8&amp;hq=&amp;hnear=15+Greenpoint+Ave,+Brooklyn,+Kings,+New+York+11222&amp;t=m&amp;ll=40.729698,-73.960047&amp;spn=0.016261,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                  </div>

              </div>

              </div>
                </div>
              </div>
            </div>
          </div>
              <br/>
              <br/>
              <div class="row">
              <!-- <div class="col-lg-12"> -->
                <center><p target="_blank" class="fl bbb" title="Cl" href="http://www.bbb.org/ottawa/business-reviews/internet-shopping/shopify-in-ottawa-on-39813#sealclick" rel="nofollow"><img src="//cdn.shopify.com/assets/images/logos/logo-bbb.png?1387389567" /></p><p class="p0">&copy; 2013 Order Up Inc. &nbsp; <a href="/legal/terms" target="_blank" rel="nofollow">Terms of Service</a> &nbsp;   <a href="/legal/privacy" target="_blank" rel="nofollow">Privacy</a>
            
                <a href="/sitemap">Sitemap</a><p><a href="http://www.jumpstartlabs.com/">Ecommerce Software Solutions</a> by Order Up &mdash; A restaurant in minutes, a business for life&trade;</p></center>
              </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/docs-assets/js/holder.js"></script>
    <script>
      $('.carousel').carousel({
        interval: 6000 //changes the speed
      })
    </script>
  </body>
</html>
