<%= stylesheet_link_tag "storefront" %>
<div id="footerSection">
  <div class="container">
    <div class="socialMedia">
      <a class="facebook" href="#"></a>
      <a class="twitter" href="#"></a>
    </div>
    
      <div class="col-lg-4 col-sm-4">
        <h2>Contact Us</h2>
          <address>
            <strong>OrderUP Inc.</strong><br>
            1062 Delaware Ave, Suite 600<br>
            Denver, C0 80202<br>
          </address>
          <address>
            <abbr title="Phone">P:</abbr> (123) 456-7890<br>
            <abbr title="Email">E:</abbr> <a href="mailto:#">denvergschool@orderup.com</a>
          </address>
          <p><small>www.orderup.com &copy; 2013 All rights reserved.</small></p>
      </div>
  </div>
</div>
