<div class="footer" style="background-color:#dbdbdb;">

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <center><div class="col-lg-12">
        <h4>Come Find Us</h4>
        <div class="row-fluid">
          <div class="span8">
            <iframe width="500" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=15+Greenpoint+Ave,+Brooklyn,+NY&amp;aq=0&amp;oq=15+greenpointe+ave+brook&amp;sll=39.764339,-104.855112&amp;sspn=0.325133,0.727844&amp;ie=UTF8&amp;hq=&amp;hnear=15+Greenpoint+Ave,+Brooklyn,+Kings,+New+York+11222&amp;t=m&amp;ll=40.729698,-73.960047&amp;spn=0.016261,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=15+Greenpoint+Ave,+Brooklyn,+NY&amp;aq=0&amp;oq=15+greenpointe+ave+brook&amp;sll=39.764339,-104.855112&amp;sspn=0.325133,0.727844&amp;ie=UTF8&amp;hq=&amp;hnear=15+Greenpoint+Ave,+Brooklyn,+Kings,+New+York+11222&amp;t=m&amp;ll=40.729698,-73.960047&amp;spn=0.016261,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
          </div>
        </div>
      </div></center>
    </div>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <center><p class="p0">&copy; 2013 Order Up &nbsp; 

  <a href="/sitemap">Sitemap</a><p><a href="http://www.jumpstartlabs.com/">Ecommerce Software Solutions</a> by Order Up &mdash; A restaurant in minutes, a business for life&trade;</p></center>
</div>
